# Telegram bot settings
VPN_TELEGRAM_BOT_TOKEN="8440354578:AAHZmsrnrngSnVKXnma7UFsgwvXyYfWSxBc"
VPN_SUBSCRIPTION_BASE_URL=http://127.0.0.1:8080
VPN_SUBSCRIPTION_HOST=0.0.0.0
VPN_SUBSCRIPTION_PORT=8080
VPN_DEFAULT_SUBSCRIBE_DAYS=7
VPN_BOT_ADMIN_IDS=6127999661

# Payment settings
TELEGRAM_PAYMENT_PROVIDER_TOKEN=1
PAYMENT_CURRENCY=USD
PAYMENT_PRICE=500
PAYMENT_TITLE=VPN subscription
PAYMENT_DESCRIPTION=VPN subscription payment
PAYMENT_LINK_TEMPLATE=https://example.com/pay?user_id={user_id}&days={days}
